
body {
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.textBox {  
    width: 212px;
    height: 35px;
    margin: 3px;
    text-align: center;
    letter-spacing: 2.5px;
}


.button {  
    height: 50px;
    width: 50px;
}

.button , .textBox {
    
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    background: black;
    opacity: 0.75;
    
}

#zero {width: 104px;}
#equal {height: 104px;}